USE [master]
GO
/****** Object:  Database [ProjectCadmium]    Script Date: 2019-05-22 1:53:06 PM ******/
CREATE DATABASE [ProjectCadmium]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectCadmium', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ProjectCadmium.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectCadmium_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ProjectCadmium_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectCadmium].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectCadmium]
GO
USE [ProjectCadmium]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019-05-22 1:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2019-05-22 1:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[PricePerHour] [decimal](18, 2) NOT NULL,
	[LastUsedTimestamp] [datetime] NOT NULL,
	[Nth] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 2019-05-22 1:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[QuoteID] [uniqueidentifier] NOT NULL,
	[Nth] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2019-05-22 1:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[LastUsedTimestamp] [datetime] NOT NULL,
	[Nth] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotes]    Script Date: 2019-05-22 1:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotes](
	[Id] [uniqueidentifier] NOT NULL,
	[PublishVersion] [uniqueidentifier] NULL,
	[NewPricePerHour] [decimal](18, 2) NULL,
	[Nth] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Quotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuoteVersions]    Script Date: 2019-05-22 1:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteVersions](
	[Id] [uniqueidentifier] NOT NULL,
	[UniqueID] [nvarchar](50) NOT NULL,
	[Version] [uniqueidentifier] NOT NULL,
	[IsBillable] [bit] NOT NULL,
	[QuoteID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[ProjectID] [uniqueidentifier] NOT NULL,
	[ClientID] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
	[Nth] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.QuoteVersions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 2019-05-22 1:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Hours] [decimal](18, 2) NOT NULL,
	[Nth] [bigint] IDENTITY(1,1) NOT NULL,
	[QuoteID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2019-05-22 1:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[PublishVersion] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginTimestamp] [datetime] NOT NULL,
	[Nth] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVersions]    Script Date: 2019-05-22 1:53:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVersions](
	[Id] [uniqueidentifier] NOT NULL,
	[Version] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreationDate] [datetime] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Nth] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.UserVersions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [Name], [PricePerHour], [LastUsedTimestamp], [Nth]) VALUES (N'fcfb1180-f845-452c-b0aa-085d4df004b1', N'Company ABC', CAST(20.50 AS Decimal(18, 2)), CAST(N'2019-05-21T17:04:56.270' AS DateTime), 1)
INSERT [dbo].[Clients] ([Id], [Name], [PricePerHour], [LastUsedTimestamp], [Nth]) VALUES (N'1cbb5b51-626e-4c34-8e81-649995f330db', N'B Corp', CAST(30.00 AS Decimal(18, 2)), CAST(N'2019-05-21T17:04:56.270' AS DateTime), 2)
INSERT [dbo].[Clients] ([Id], [Name], [PricePerHour], [LastUsedTimestamp], [Nth]) VALUES (N'9d5b459b-d8c5-4c06-af47-e1a388b870bc', N'Tomas Org', CAST(35.00 AS Decimal(18, 2)), CAST(N'2019-05-21T17:04:56.270' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [Amount], [PaymentDate], [QuoteID], [Nth]) VALUES (N'955d3d7d-6ac1-4208-b0c8-06790db6512b', CAST(5000.00 AS Decimal(18, 2)), CAST(N'2018-07-15T00:00:00.000' AS DateTime), N'85d5a77c-b43c-410b-878f-cc19bc3c9988', 7)
INSERT [dbo].[Payments] ([Id], [Amount], [PaymentDate], [QuoteID], [Nth]) VALUES (N'17b3d254-6c3f-4c2b-b8a5-11dc70886bab', CAST(4000.00 AS Decimal(18, 2)), CAST(N'2019-05-15T00:00:00.000' AS DateTime), N'aab4af6b-8c3e-4b04-8756-5a400f5d3f7c', 3)
INSERT [dbo].[Payments] ([Id], [Amount], [PaymentDate], [QuoteID], [Nth]) VALUES (N'a96cff3c-2fe2-4056-9172-1dc4c8a4087c', CAST(90000.00 AS Decimal(18, 2)), CAST(N'2018-02-15T00:00:00.000' AS DateTime), N'85d5a77c-b43c-410b-878f-cc19bc3c9988', 10)
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [Name], [LastUsedTimestamp], [Nth]) VALUES (N'33a041c2-528c-462e-81b1-0133bb1ea343', N'Oxygen', CAST(N'2019-05-22T09:45:21.137' AS DateTime), 10)
INSERT [dbo].[Projects] ([Id], [Name], [LastUsedTimestamp], [Nth]) VALUES (N'e959ce50-d0f2-494e-b6a9-1215656aa407', N'Project B', CAST(N'2019-05-22T09:45:21.137' AS DateTime), 5)
INSERT [dbo].[Projects] ([Id], [Name], [LastUsedTimestamp], [Nth]) VALUES (N'e9cfadbb-461d-477e-8df8-2247139ca7a8', N'Project He', CAST(N'2019-05-22T09:45:21.137' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[Quotes] ON 

INSERT [dbo].[Quotes] ([Id], [PublishVersion], [NewPricePerHour], [Nth]) VALUES (N'b3115e53-1e61-4cbf-876b-08fb0e317e7b', N'7b702999-77de-48fa-bec8-f8e43654e642', CAST(45.50 AS Decimal(18, 2)), 5)
INSERT [dbo].[Quotes] ([Id], [PublishVersion], [NewPricePerHour], [Nth]) VALUES (N'd4223d22-126f-46f1-8762-11355eed303a', N'2efa5a33-9ceb-4be3-9e3d-a51d26df59d8', NULL, 8)
INSERT [dbo].[Quotes] ([Id], [PublishVersion], [NewPricePerHour], [Nth]) VALUES (N'aab4af6b-8c3e-4b04-8756-5a400f5d3f7c', N'0830b264-3d01-46ff-91c8-ff38524be107', NULL, 9)
SET IDENTITY_INSERT [dbo].[Quotes] OFF
SET IDENTITY_INSERT [dbo].[QuoteVersions] ON 

INSERT [dbo].[QuoteVersions] ([Id], [UniqueID], [Version], [IsBillable], [QuoteID], [Status], [ProjectID], [ClientID], [CreationDate], [CreatedById], [Nth]) VALUES (N'f8e5651c-f840-4db3-9a8d-130ab37ed39b', N'FCFB1180-F845-452C-B0AA-085D4DF004B1563769', N'245b501a-be36-479f-b5f9-dfa21b246ed0', 0, N'bc557afa-c6c0-45c4-a1ad-ea6544a13352', 0, N'74a506b0-e779-49af-80bf-d7853fffb66d', N'fcfb1180-f845-452c-b0aa-085d4df004b1', CAST(N'2010-06-01T00:00:00.000' AS DateTime), N'355774af-b010-46e7-85e7-6582734b0c71', 1)
INSERT [dbo].[QuoteVersions] ([Id], [UniqueID], [Version], [IsBillable], [QuoteID], [Status], [ProjectID], [ClientID], [CreationDate], [CreatedById], [Nth]) VALUES (N'3ec12c99-895a-4006-b78a-20f939dcf6f1', N'9D5B459B-D8C5-4C06-AF47-E1A388B870BC845370', N'77739ca7-23d7-4a11-94e1-881156b6bdf7', 1, N'09029652-1d6b-40a8-907b-ec2e0fa58aa2', 2, N'bffe4bf2-5243-448a-995d-da68d461671c', N'9d5b459b-d8c5-4c06-af47-e1a388b870bc', CAST(N'2018-11-03T00:00:00.000' AS DateTime), N'85ab2831-b7ff-4503-a4c0-7525f2048691', 5)
INSERT [dbo].[QuoteVersions] ([Id], [UniqueID], [Version], [IsBillable], [QuoteID], [Status], [ProjectID], [ClientID], [CreationDate], [CreatedById], [Nth]) VALUES (N'487685ed-9e7e-4f73-b213-4019e416b5a6', N'9D5B459B-D8C5-4C06-AF47-E1A388B870BC672909', N'6cd7e99f-ca11-4168-890d-b7f7e1521f41', 0, N'fb360331-54dd-40d8-a777-a85dab928884', 1, N'b6926689-8938-4453-b9f2-f243866cc7f2', N'9d5b459b-d8c5-4c06-af47-e1a388b870bc', CAST(N'2019-05-10T00:00:00.000' AS DateTime), N'2c10e2f1-f8b3-44c4-b5c8-7c83185df645', 10)
SET IDENTITY_INSERT [dbo].[QuoteVersions] OFF
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [Name], [Hours], [Nth], [QuoteID]) VALUES (N'778aef9a-535a-41f1-9115-0158e36f7d98', N'Updating the system', CAST(5050.00 AS Decimal(18, 2)), 15, N'7630cb8a-c484-420c-a1d4-6ecdf11a00de')
INSERT [dbo].[Tasks] ([Id], [Name], [Hours], [Nth], [QuoteID]) VALUES (N'63b7a0fa-0cf4-4966-9469-015b68000836', N'Create Wireframes', CAST(3400.00 AS Decimal(18, 2)), 8, N'd4223d22-126f-46f1-8762-11355eed303a')
INSERT [dbo].[Tasks] ([Id], [Name], [Hours], [Nth], [QuoteID]) VALUES (N'1b1c0812-894a-4125-92c3-1837d12a6dc9', N'Graphic Design Production Process', CAST(55000.00 AS Decimal(18, 2)), 4, N'b3115e53-1e61-4cbf-876b-08fb0e317e7b')
SET IDENTITY_INSERT [dbo].[Tasks] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [PublishVersion], [IsActive], [LastLoginTimestamp], [Nth]) VALUES (N'355774af-b010-46e7-85e7-6582734b0c71', N'37be921c-7a57-412a-8fa1-68751ae09f71', 0, CAST(N'2012-12-31T00:00:00.000' AS DateTime), 12)
INSERT [dbo].[Users] ([Id], [PublishVersion], [IsActive], [LastLoginTimestamp], [Nth]) VALUES (N'85ab2831-b7ff-4503-a4c0-7525f2048691', N'4cd91bc4-d281-4412-ae5a-34867242907f', 1, CAST(N'2019-05-22T10:20:05.690' AS DateTime), 13)
INSERT [dbo].[Users] ([Id], [PublishVersion], [IsActive], [LastLoginTimestamp], [Nth]) VALUES (N'2c10e2f1-f8b3-44c4-b5c8-7c83185df645', N'bbad45ba-5920-44ce-b31d-8b784cea39db', 1, CAST(N'2019-05-22T10:20:05.690' AS DateTime), 14)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UserVersions] ON 

INSERT [dbo].[UserVersions] ([Id], [Version], [UserName], [Password], [FirstName], [LastName], [Phone], [Email], [CreationDate], [UserID], [Nth]) VALUES (N'32e82f05-8661-455e-85f6-195f2ced4989', N'bbad45ba-5920-44ce-b31d-8b784cea39db', N'marie_c', N'123546abc', N'Marie', N'Curie', NULL, NULL, CAST(N'2019-04-10T00:00:00.000' AS DateTime), N'2c10e2f1-f8b3-44c4-b5c8-7c83185df645', 11)
INSERT [dbo].[UserVersions] ([Id], [Version], [UserName], [Password], [FirstName], [LastName], [Phone], [Email], [CreationDate], [UserID], [Nth]) VALUES (N'25b72c04-df77-4caf-b603-663114ed8aba', N'37be921c-7a57-412a-8fa1-68751ae09f71', N'thisisanaccount', N'123456', N'Jane', N'Goodall', NULL, N'jane.g@hotmail.com', CAST(N'2008-07-16T00:00:00.000' AS DateTime), N'355774af-b010-46e7-85e7-6582734b0c71', 8)
INSERT [dbo].[UserVersions] ([Id], [Version], [UserName], [Password], [FirstName], [LastName], [Phone], [Email], [CreationDate], [UserID], [Nth]) VALUES (N'25d2de0a-6c77-43cc-b081-c12cd36b09b2', N'4cd91bc4-d281-4412-ae5a-34867242907f', N'maxborn', N'666666@', N'Max', N'Born', N'647858723', N'MaxEmailAccount@gmail.com', CAST(N'2018-04-12T00:00:00.000' AS DateTime), N'85ab2831-b7ff-4503-a4c0-7525f2048691', 10)
SET IDENTITY_INSERT [dbo].[UserVersions] OFF
/****** Object:  Index [IX_QuoteID]    Script Date: 2019-05-22 1:53:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuoteID] ON [dbo].[Payments]
(
	[QuoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientID]    Script Date: 2019-05-22 1:53:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClientID] ON [dbo].[QuoteVersions]
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedById]    Script Date: 2019-05-22 1:53:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedById] ON [dbo].[QuoteVersions]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectID]    Script Date: 2019-05-22 1:53:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectID] ON [dbo].[QuoteVersions]
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuoteID]    Script Date: 2019-05-22 1:53:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuoteID] ON [dbo].[QuoteVersions]
(
	[QuoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuoteID]    Script Date: 2019-05-22 1:53:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuoteID] ON [dbo].[Tasks]
(
	[QuoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 2019-05-22 1:53:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserVersions]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [QuoteID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.Quotes_QuoteID] FOREIGN KEY([QuoteID])
REFERENCES [dbo].[Quotes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.Quotes_QuoteID]
GO
ALTER TABLE [dbo].[QuoteVersions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuoteVersions_dbo.Clients_ClientID] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuoteVersions] CHECK CONSTRAINT [FK_dbo.QuoteVersions_dbo.Clients_ClientID]
GO
ALTER TABLE [dbo].[QuoteVersions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuoteVersions_dbo.Projects_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuoteVersions] CHECK CONSTRAINT [FK_dbo.QuoteVersions_dbo.Projects_ProjectID]
GO
ALTER TABLE [dbo].[QuoteVersions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuoteVersions_dbo.Quotes_QuoteID] FOREIGN KEY([QuoteID])
REFERENCES [dbo].[Quotes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuoteVersions] CHECK CONSTRAINT [FK_dbo.QuoteVersions_dbo.Quotes_QuoteID]
GO
ALTER TABLE [dbo].[QuoteVersions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuoteVersions_dbo.Users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuoteVersions] CHECK CONSTRAINT [FK_dbo.QuoteVersions_dbo.Users_CreatedById]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tasks_dbo.Quotes_QuoteID] FOREIGN KEY([QuoteID])
REFERENCES [dbo].[Quotes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_dbo.Tasks_dbo.Quotes_QuoteID]
GO
ALTER TABLE [dbo].[UserVersions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserVersions_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserVersions] CHECK CONSTRAINT [FK_dbo.UserVersions_dbo.Users_UserID]
GO
USE [master]
GO
